* {
  box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
body{
    font-size: 100%;
    /* font-family: Sofia, Trirong, sans-serif, serif; */
    font-family: Poppins, sans-serif;
    width: 100%;
    height: 600px;
    padding: 20px;
    background-image: url('asset/tree.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-position: right top;
    margin-right: 200px;
}
h1,h2,h3{
    font-family: 'Abril Fatface', serif;
    font-size: 2.875em;  
}

.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;

    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.title{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.content{
    width: 50%;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 50%;
    
}
.ul_list{
    width: 65%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
li{
    cursor: pointer;
}
